@model IEnumerable<NA.Web.Models.Home.AuctionListViewModel>

@{
    ViewBag.Title = "Index";
}



<h2>Auctions</h2>

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_AuctionList", item)
    }
</div>

@section scripts{
    <link href="~/Content/jquery.countdown.css" rel="stylesheet" />
<script src="~/Scripts/jquery.plugin.min.js"></script>
<script src="~/Scripts/jquery.countdown.min.js"></script>
}

